<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colina Verde Restaurante</title>
    <link rel="icon" href="../Icon/icone_colina_verde.ico">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <span class="site-title">Colina Verde</span>
            <img src="../Img/icone_colina_verde.png" alt="Logo Colina Verde" class="logo-header">
        </div>
    </header>
    <main>
        <section class="carousel-section">
            <button class="carousel-arrow left" id="prevBtn">&#60;</button>
            <div class="carousel-container">
                <img src="../Img/Carrosel.png" alt="Carrossel" class="carousel-img active">
                <img src="../Img/Buffet.png" alt="Buffet" class="carousel-img">
                <img src="../Img/Drinks.png" alt="Drinks" class="carousel-img">
                <img src="../Img/Petiscos.png" alt="Petiscos" class="carousel-img">
            </div>
            <button class="carousel-arrow right" id="nextBtn">&#62;</button>
        </section>
        <section class="cards-section">
            <div class="card">
                <img src="../Img/Buffet.png" alt="Buffet" class="card-img">
                <span class="card-title">Buffet</span>
            </div>
            <div class="card">
                <img src="../Img/Petiscos.png" alt="Porções" class="card-img">
                <span class="card-title">Porções</span>
            </div>
            <div class="card">
                <img src="../Img/Drinks.png" alt="Drinks" class="card-img">
                <span class="card-title">Drinks</span>
            </div>
        </section>
        <section class="info-section">
            <div class="info-card">
                <img src="../Img/Carrosel.png" alt="Mapa" class="map-img">
                <span class="info-title">Endereço</span>
            </div>
            <div class="info-card horarios">
                <span class="info-title">Horários De Funcionamento</span>
                <ul>
                    <li>⏰Qua a Sab: 18h às 23h.</li>
                    <li>⏰Sab e Dom: 11h às 14h.</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <a href="#" class="social-icon"><img src="../Img/icone_instagram.webp" alt="Instagram"></a>
            <a href="#" class="social-icon"><img src="../Img/WhatsApp-icone.png" alt="WhatsApp"></a>
        </div>
    </footer>
    <script src="../JS/index.js"></script>
</body>
</html>
